.weather-right{
    position: relative;

    &__temperature{
        font: 600 #{ $font-size * 5 + 6px} / $line-height $font-oswald;
        color: $color-black;
        width: 140px;
    }

    &__layout{
        position: relative;
        padding: 6.5px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    &__table{
        font: 400 #{$font-size - 2px} / 1 $font-roboto;
        color: $color-black;
        text-align: left;
    }

    &__item{
        padding: 2px 0;
    }

    &__item:first-child{
      padding-right: 19px;
      min-width: 50px;
    }

    &__item:last-child{
        font-weight: 600;
    }

    &__items:first-child th{
      border-bottom: 1px solid $color-light-blue5;
      padding-bottom: 5px;
    }

    &__items:nth-child(2) &__item{
      padding-top: 5px;
    }

    &--type1 &__temperature{
        text-align: center;
    }

    /*  Типизация для второго виджета */

    &--type2{
        width: 120px;
    }

    &--type2 &__layout{
      padding: 27px 0;
    }

    &--type2 &__temperature{
        font-size: #{$font-size*3 + 11px};
        text-align: center;
        padding-left: 10px;
    }

    /*  Типизация для третьго виджета */

    &--type3{
        width: 120px;
    }

    &--type3 &__layout{
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 98px;
    }

    &--type3 &__temperature{
        padding-left: 6px;
        margin-top: 15px;
        margin-bottom: 14px;
        width: 57px;
        text-align: center;
        font-size: #{$font-size * 2 + 2px};
    }

    &--type4{
        width: 300px;
    }

    &--type5{
        width: 300px;
    }

    &__icon{
        position: absolute;
        display: block;
        left: 50%;
        top: -15px;
        z-index: 100;
        border-radius: 4px;
        z-index: 100;

        &--blue{
            background-image: -webkit-linear-gradient(bottom, $color-light-blue1, $color-light-blue2);
        }

        &--type1 {
            top: -20px;
        }

        &--type4{
            display: block;
            top: -34px;
            z-index: 100;
            background: none;
            transform: translateX(-50%);
        }

        &--type5{
            background-color: $color-white;
            transform-origin: left top;
            transform: translateX(-50%) rotate(-2deg);
        }
    }

    /*Типизация по цветовым схемам */
    &--blue{
        background-image: linear-gradient(to top left, $color-lime, $color-yellow);
    }

    &--brown {
        background-color: $color-white;
    }

}
