@font-face {

  font-family: 'Roboto';
  src: url('themes/openweathermap/assets/vendor/owm/fonts/roboto-bold.ttf');
  font-weight: 700;
  font-style: normal;

}

@font-face {

  font-family: 'Roboto';
  src: url('themes/openweathermap/assets/vendor/owm/fonts/roboto-medium.ttf');
  font-weight: 600;
  font-style: normal;

}

@font-face {

  font-family: 'Roboto';
  src: url('themes/openweathermap/assets/vendor/owm/fonts/roboto-regular.ttf');
  font-weight: 400;
  font-style: normal;

}

@font-face {

  font-family: 'Oswald';
  src: url('themes/openweathermap/assets/vendor/owm/fonts/oswald-demibold.ttf');
  font-weight: 600;
  font-style: normal;

}
