

/* Шрифты */

$font-size: 14px;
$line-height: 1;

$font-roboto:'Roboto',Arial, sans-serif;
$font-oswald:'Oswald',Arial, sans-serif;

/* Цвета */

$color-black: #333333;
$color-white: #ffffff;

$color-gray1: #B9C4C5;
$color-gray2: #D4DBDC;
$color-gray3: #E3E7E8;

$color-blue-bg-top: #637395;
$color-blue-bg-bottom: #637395;

$color-brown-bg-top: #4e4d4a;
$color-brown-bg-bottom: #353432;
