.main{
  border-top:1px solid transparent;
  padding-top: 40px;
  display: block;
  width:777px;
  height: 624px;
  font-size:10px;
  color: green;
  margin: 0 auto;
  background-image: linear-gradient(to top left, $color-gray1 20%, $color-gray2 80%, $color-gray3 100%);


}
