.main{
  border-top:1px solid transparent;
  display: block;
  width: auto;
  font-size:10px;
  color: green;
  margin: 0 auto;

  &--gray{
    background-image: linear-gradient(to top left, $color-gray1 20%, $color-gray2 80%, $color-gray3 100%);
  }

  &--blue{
    background-image: linear-gradient(to top left, $color-blue-bg-bottom, $color-blue-bg-bottom);
  }

  &--brown{
    background-image: linear-gradient(to top left, $color-brown-bg-bottom, $color-brown-bg-top);
  }
}
