.widget{

  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0,0,0,.1);

  margin: 0 43px 41px;
  background-color: $color-white;
  width: 691px;


  &--compact{
    display: inline-block;
    vertical-align: top;
    width: 230px;
  }

  &--small{
    display: inline-block;
    vertical-align: top;
    width: auto;
  }

  &__body{
    @include clearfix;
  }

  &__body--compact{
    float:none;
    margin: 0 auto;
  }

  &__calendar{
    float: left;
    margin-top: 5px;
  }

  &__graphic{
    width: 420px;
    height: 79px;
    margin-left: 38px;
  }

}
