.widget{

  max-width: 1050px;

  &__layout {
    border-top:1px solid transparent;
    display: none;
    width: auto;
    margin: 0 auto;
    max-width: 970px;
    padding: 0;

    &::after {
      display: table;
      content: '';
      clear: both;
    }

    &--visible {
      display: block;
    }
  }

  &__title {
    text-align: center;
    font-family: $font-roboto;
  }

}
