.calendar{

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: baseline;
  width: 425px;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 17px;
  padding:0;

  &__item{
    font: 600 #{$font-size} / $line-height $font-roboto;
    color: $color-black;
    text-align: center;
  }

  &--grayscale li{
    filter: grayscale(100%);
  }


  &__item:last-child{
    margin-right: 0;
  }

  &__item img{
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
  }

  &--small{
    width: auto;
    margin:0;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    font-size: 0;
  }

  /* маленький виджет */
  &--small &__item {
    padding: 13px 2px;
    display: inline-block;
    vertical-align: top;
  }

  &--small &__item--blue{
    background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
  }

  &--small &__item--brown{
    background-color: $color-white;
  }

  /* маленький виджет с увеличенным значком */

  &--small2{
    width: auto;
    margin:0;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    font-size: 0;
  }

  &--small2 &__item {
    padding: 13px 13px;
    display: inline-block;
    vertical-align: top;
  }

  &--small2 &__item--blue{
    background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
  }

  &--small2 &__item--brown{
    background-color: $color-white;
  }

}
