.weather-left-card{

  float: left;

  &__layout{
    padding: 0 14px;
    margin-top: 16px;
    @include clearfix;
  }


  &__row1{
    width: auto;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__img{
    display: block;
    width: 128px;
    height: 128px;
  }

  &--grayscale{
    filter: grayscale(100%);
  }

  &__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__number{
    font: 600 #{ $font-size * 3 + 6px} / $line-height $font-oswald;
    color: $color-black;
    margin: 0 auto;
    padding-top:20px;
    letter-spacing: -4px;
    padding-right: 15px;
  }

  &__degree{
    font: 700 #{$font-size*3 + 6px} / $line-height $font-oswald;
  }

  &__rising{
    font: 400 #{$font-size} / $line-height $font-roboto;
  }

  &__col span{
    color: $color-black;
    padding-top: 3px;
  }
  &__means{
    margin: 0;
    margin-bottom: 5px;
    font: 700 #{$font-size + 2px} / $line-height $font-roboto;
    color: $color-black;
    text-align: center;
    text-transform: capitalize;
  }

  &__wind{
    margin: 0;
    font: 400 #{$font-size - 2px} / $line-height $font-roboto;
    color: $color-black;
    text-align: center;
    padding:2px 0;
  }

  &__number--small{
    padding:0;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-top: 21px;
    min-width: 36px;
    text-align: center;
    font-size: $font-size+4px;
    letter-spacing: 0;
  }

  &__number--small &__degree{
    font-size: #{$font-size + 4px};
    display: inline-block;
    vertical-align: top;
  }

  &__img--small{
    position: static;
  }

  &--compact{
    float: none;
    margin-right: 5px;
  }

  &__number--small2 &__degree{
    font-size: $font-size;
  }


}
