<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    title Widgets generator
    link(href="themes/openweathermap/assets/vendor/owm/css/style.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Oswald:100,400,700,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,400italic,500italic,700italic' rel='stylesheet' type='text/css')
    script(src="themes/openweathermap/assets/vendor/owm/js/d3.min.js")
    // Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // Optional theme
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    // Latest compiled and minified JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")  
  body.body-orange   
    // Переключатель параметров единиц измерения температуры
    label.toggle.candy.blue(style="width:100px"  onclick="")
      input#units_check(type="checkbox" checked="checked")
      p
        span(id="metric")   °C
        span(id="imperial") °F
      a.slide-button
      a.slide-button
    // Попап окно с отображением js кода для вставки на страницу браузера
    .popup-shadow
    .popup#popup
      .popup__window
        .popup__layout
          h2.popup__title Get a code for posting a weather forecast widget on your site.
          textarea.popup__items#js-code-generate(readonly)
          span.popup__btn#copy-js-code
            i.fa.fa-clone
            |  Copy in buffer
        .popup__close#popup-close
    .container.widget#frm-landing-widget
        // Лендинг с информацией по виджетам
        h1.widget__title Get a code for posting a weather forecast widget on your site.
        form.widget-form.navbar-form                
          .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3
            dl
                dt
                    label.aria-label Your API key:
                dd
                    input.form-control#api-key(type="text" required)
                    span#error-key
            dl
                dt
                    label.aria-label Your city name
                dd
                    input.form-control#city-name(type="text" value="London")
            button#search-city.container-custom-card__btn-search(type="button") 
              i.fa.fa-question-circle
              |  Search city
          .container-custom-card__cities.col-xs-12.col-sm-12.col-md-4.col-lg-4
            dl
                dt
                    label.area-label  Select your city
                dd
                    div#cities
          .widget-form__cities.col-xs-12.col-sm-12.col-md-5.col-lg-5
            dl
                dt.widget-form__title
                    label.area-label  Select type widgets
                dd.widget-form__types
                  ul.widget-choose
                    li.widget-choose__item
                      label.widget-choose__label
                        input(type="radio" id="widget-brown" name="type-widget" checked)
                        img(src="themes/openweathermap/assets/vendor/owm/img/widgets/type-brown.jpg" width="250" alt="type brown")                                                            
                    li.widget-choose__item
                      label.widget-choose__label
                        input(type="radio" id="widget-blue" name="type-widget")
                        img(src="themes/openweathermap/assets/vendor/owm/img/widgets/type-blue.jpg" width="250" alt="type gray")                    
                    li.widget-choose__item
                      label.widget-choose__label
                        input(type="radio" id="widget-gray" name="type-widget")
                        img(src="themes/openweathermap/assets/vendor/owm/img/widgets/type-gray.jpg" width="250" alt="type brown")                                                            
            .container-custom-card__item(style="display:none;")
    .widget__layout#widget-brown-container    
      .container-custom__item.col-xs-12.col-sm-12.col-lg-12
        .container-custom__item
          .container-custom__left
            .container-custom__left-row1
              .container-custom-card                  
                div#openweathermap-widget-11
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
            .container-custom__left-row2
              .container-custom__left-row2-col1
                .container-custom-card                    
                  div#openweathermap-widget-12
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
              .container-custom__left-row2-col1
                .container-custom-card
                  div#openweathermap-widget-13
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
                .container-custom-card
                  div#openweathermap-widget-14
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
              .container-custom__left-row2-col1.container-custom__item--type1
                .container-custom-card
                  div#openweathermap-widget-16
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code 
                .container-custom-card
                  div#openweathermap-widget-17
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code         
          .container-custom__right            
            .container-custom-card
              div#openweathermap-widget-15
              span.container-custom-card__btn.container-custom-card__btn--brown
                i.fa.fa-clone
                |  Get a code 
            .container-custom.container-custom--type1
              .container-custom-card
                div#openweathermap-widget-18
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code  
              .container-custom-card
                div#openweathermap-widget-19
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
    .widget__layout#widget-blue-container    
      .container-custom__item.col-xs-12.col-sm-12.col-lg-12          
        .container-custom__item
          .container-custom__left
            .container-custom__left-row1
              .container-custom-card                  
                div#openweathermap-widget-1
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
            .container-custom__left-row2
              .container-custom__left-row2-col1
                .container-custom-card                    
                  div#openweathermap-widget-2
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
              .container-custom__left-row2-col1
                .container-custom-card
                  div#openweathermap-widget-3
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
                .container-custom-card
                  div#openweathermap-widget-4
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code
              .container-custom__left-row2-col1.container-custom__item--type1
                .container-custom-card
                  div#openweathermap-widget-6
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code 
                .container-custom-card
                  div#openweathermap-widget-7
                  span.container-custom-card__btn.container-custom-card__btn--brown
                    i.fa.fa-clone
                    |  Get a code         
          .container-custom__right            
            .container-custom-card
              div#openweathermap-widget-5
              span.container-custom-card__btn.container-custom-card__btn--brown
                i.fa.fa-clone
                |  Get a code 
            .container-custom.container-custom--type1
              .container-custom-card
                div#openweathermap-widget-8
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code  
              .container-custom-card
                div#openweathermap-widget-9
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
    .widget__layout#widget-gray-container    
      .container-custom__item.col-xs-12.col-sm-12.col-lg-12          
        .container-custom__item
          .container-custom__left
            .container-custom__left-row1
              .container-custom-card                  
                div#openweathermap-widget-21
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
            .container-custom__left-row2
              .container-custom-card
                div#openweathermap-widget-23
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
              .container-custom-card
                div#openweathermap-widget-24
                span.container-custom-card__btn.container-custom-card__btn--brown
                  i.fa.fa-clone
                  |  Get a code
          .container-custom__right                                                  
            .container-custom-card
              div#openweathermap-widget-22
              span.container-custom-card__btn.container-custom-card__btn--brown
                i.fa.fa-clone
                |  Get a code
    div#scripts   
    script(src='themes/openweathermap/assets/vendor/owm/js/d3.min.js')              
    script(src='/themes/openweathermap/assets/vendor/owm/js/weather-widgets-constructor.js')  
