<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    title Single page
    link(href="css/style.css" rel="stylesheet")
  body
    main.main
      .widget
        .widget-menu.widget-menu__layout
          h1.widget-menu__header Weather for Moscow
          .widget-menu__links
            span More at
            a.widget-menu__link(href="http://openweathermap.org/" target="_blank") OpenWeatherMap
        .widget__body
          .weather-card
            .weather-card__row1
              img.weather-card__img(src="img/10dbw.png" width="128" height="128" alt="Weather for Moscow")
              .weather-card__col
                p.weather-card__number 16
                 sup.weather-card__degree 0 
                span and rising
            .weather-card__row2
              p.weather-card__means Thunderstorm
              p.weather-card__wind Wind: 3 m/s West
          .widget__calendar
            ul.calendar
              li.calendar__item Today
                img(src="img/11dbw@05x.png" width="32" height="32" alt="Today")
              li.calendar__item Sat              
                img(src="img/04dbw@05x.png" width="32" height="32" alt="Sat")
              li.calendar__item Sun
                img(src="img/09dbw@05x.png" width="32" height="32" alt="Sun")
              li.calendar__item Mon 
                img(src="img/01dbw@05x.png" width="32" height="32" alt="Mon")
              li.calendar__item Tue
                img(src="img/02dbw@05x.png" width="32" height="32" alt="Tue")
              li.calendar__item Wed
                img(src="img/02dbw@05x.png" width="32" height="32" alt="Wed")              
              li.calendar__item Thu
                img(src="img/10dbw@05x.png" width="32" height="32" alt="Thu")                            
              li.calendar__item Fri
                img(src="img/02dbw@05x.png" width="32" height="32" alt="Fri") 
            canvas.widget__graphic(id="graphic" width="465" height="79")
      .widget.widget--compact 
        .widget-menu.widget-menu--compact.widget-menu__layout
          h1.widget-menu__header Weather for Moscow          
        .widget__body.widget__body--compact
          .weather-card
            .weather-card__row1
              img.weather-card__img(src="img/10dbw.png" width="128" height="128" alt="Weather for Moscow")
              .weather-card__col
                p.weather-card__number 16
                 sup.weather-card__degree 0 
                span and rising
            .weather-card__row2
              p.weather-card__means Thunderstorm
              p.weather-card__wind Wind: 3 m/s West   
            .widget-menu__links.widget-menu__links--compact
              span More at
              a.widget-menu__link(href="http://openweathermap.org/" target="_blank") OpenWeatherMap  
      .widget.widget--small
        .widget-menu.widget-menu--small
          h1.widget-menu__header Moscow  
          ul.calendar.calendar--small
            li.calendar__item  
              img(src="img/11dbw@05x.png" width="32" height="32" alt="Today")
          p.weather-card__number.weather-card__number--small +16
           sup.weather-card__degree 0        
    script(src="js/weather-widget.js")
                                         
              
              
            
                    
