.container-custom {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 !important;

  &__item {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    padding: 10px;

    &--type1{
      align-items: baseline;
      justify-content: space-around;
      width: 100%;
      padding-top: 0;
    }

  }

  &--type1{
    justify-content: flex-start;
    height: 50%;
    align-items: stretch;
    margin-top: 10px;
  }

}

@media (max-width: 768px) {
  .container-custom {
    &__item {
      padding: 0 !important;
    }
  }
}
